@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
}

.hidden {
  display: none!important;
}

/* Header bar names and title */
#base_info {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  background-color: darkblue;
}

#profile_name {
  position: absolute;
  text-align: right;
  top: 0em;
  right: 55%;
  font-size: 2.5em;
  font-weight: bold;
  color: darkgray;
}

#preferred_job {
  position: absolute;
  text-align: left;
  top: 0em;
  left: 45%;
  font-size: 2.5em;
  font-weight: bold;
  color: darkgray;
}

#preferred_job::before {
  content: '|';
  color: lightblue;
}

#preferred_name {
  position: absolute;
  text-align: right;
  top: 2em;
  right: 55%;
  font-size: 1.25em;
  color: darkgray;
}

#preferred_name::before {
  content: 'a.k.a. ';
}

@media only screen and (max-width: 800px) {
  #profile_name {
    font-size: 3.5vw;
  }
  #preferred_job {
    font-size: 3.5vw;
  }
  #preferred_name {
    top: 1.4em;
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 500px) {
  #profile_name {
    font-size: 2em;
    top: 0em;
    left: 30%;
    right: initial;
  }
  #preferred_job {
    font-size: 1.0em;
    top: 2em;
    left: 30%;
  }
  #preferred_job::before {
    content: '';
  }
  #preferred_name {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  #profile_name {
    left: 20%;
  }
  #preferred_job {
    left: 20%;
  }
  #preferred_name {
    left: 20%;
  }
}

/* External links navigation */
#external_links {
  position: fixed;
  top: 1em;
  right: 0.5em;
  width: 4.5em;
  height: 2em;
}

#linkedin_link {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background-image: url('/images/protected/In-White-121px-R.png');
  background-size: contain;
}

#github_link {
  position: absolute;
  top: 0;
  right: 2.5em;
  width: 2em;
  height: 2em;
  background-image: url('/images/protected/GitHub-Mark-120px-plus.png');
  background-size: contain;
  background-color: white;
  border-radius: 1em;
}

/* Sections */
section {
  margin-top: 1.5em;
  margin-left: 0.5em;
}

section > h1 {
  margin-bottom: 0.2em;
  font-size: 1.75em;
  font-weight: bold;
  border-bottom: 3px solid darkgray;
}

/* Experiences */
section > ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0em;
  padding-left: 0;
}

section > ul > li {
  border-left: 2px solid lightgray;
  padding-left: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 1.0em;
  list-style: none;
}

.experience_header {
  margin-left: 0em;
  padding-left: 0em;
  display: inline;
}

.experience_header > li {
  font-size: 1.5em;
  display: inline;
}

.experience_header > li:not(:last-child):after {
  content: ", ";
}

.job_title {
  text-decoration: underline;
}

.date_range {
  font-size: 1.5em;
  display: inline;
  float: right;
}

.date_range > li {
  display: inline;
}

.date_to:before {
  content: "— "
}

/* Items list */
.items_list {
  margin-top: 0.25em;
  list-style-type: disc;
}

.display_condensed .items_list li {
  display: inline;
}

.display_condensed .items_list li:not(:last-child):after {
  content: ", ";
}

/* Sandwich menu */
#sandwich {
  position: fixed;
  left: 0.5em;
  top: 0.5em;
}

#sandwich_symbol div {
  width: 2.5em;
  height: 0.3em;
  background-color: white;
  margin: 0.4em 0;
  border-radius: 0.1em;
}
