@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  background-color: #dddddd;
}

.hidden {
  display: none !important;
}

/* Header bar names and title */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  background-color: darkblue;
}

#fullname {
  position: absolute;
  text-align: right;
  top: 0em;
  right: 55%;
  font-size: 2.5em;
  font-weight: bold;
  color: darkgray;
}

#jobtitle {
  position: absolute;
  text-align: left;
  top: 0em;
  left: 45%;
  font-size: 2.5em;
  font-weight: bold;
  color: darkgray;
}

#jobtitle::before {
  content: "|";
  color: lightblue;
}

#nickname {
  position: absolute;
  text-align: right;
  top: 2em;
  right: 55%;
  font-size: 1.25em;
  color: darkgray;
}

#nickname::before {
  content: "a.k.a. ";
}

@media only screen and (max-width: 800px) {
  #fullname {
    font-size: 3.5vw;
  }
  #jobtitle {
    font-size: 3.5vw;
  }
  #nickname {
    top: 1.4em;
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 500px) {
  #fullname {
    font-size: 2em;
    top: 0em;
    left: 30%;
    right: initial;
  }
  #jobtitle {
    font-size: 1em;
    top: 2em;
    left: 30%;
  }
  #jobtitle::before {
    content: "";
  }
  #nickname {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  #fullname {
    left: 20%;
  }
  #jobtitle {
    left: 20%;
  }
  #nickname {
    left: 20%;
  }
}

/* External links navigation */
#externallinks {
  position: fixed;
  font-size: 0.85em;
  margin-top: 0;
  text-align: right;
  top: 0.25em;
  right: 1em;
}

#externallinks a {
  text-decoration: none;
  color: darkgray;
}

#externallinks a:hover {
  color: lightgray;
}

#externallinks li {
  list-style: none;
}

#linkedin_link {
  top: 0;
  right: 0;
}

#github_link {
  top: 1.5em;
  right: 0;
}

/* Sections */
section {
  margin-top: 1.5em;
  margin-left: 0.5em;
}

section > h1 {
  margin-bottom: 0.2em;
  font-size: 1.75em;
  font-weight: bold;
  border-bottom: 3px solid darkgray;
}

/* Experiences */
section > ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0em;
  padding-left: 0;
}

section > ul > li {
  border-left: 2px solid lightgray;
  padding-left: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  list-style: none;
}

.experience_header {
  margin-left: 0em;
  padding-left: 0em;
  display: inline;
}

.experience_header > li {
  font-size: 1.5em;
  display: inline;
}

.experience_header > li:not(:last-child):after {
  content: ", ";
}

.job_title {
  text-decoration: underline;
}

.date_range {
  font-size: 1.5em;
  display: inline;
  float: right;
  margin-right: 0.5em;
}

.date_range > li {
  display: inline;
}

.date_range > li:last-child.date_from:after {
  content: "— ongoing";
}

.date_to:before {
  content: "— ";
}

/* Items list */
.items {
  margin-top: 0.25em;
  list-style-type: disc;
}

[data-purpose="skills"] .items li {
  display: inline;
}

[data-purpose="skills"] .items li:not(:last-child):after {
  content: ", ";
}

[data-purpose="skills"] .date_range,
[data-purpose="projects"] .date_range {
  display: none;
}

/* Sandwich menu */
#sandwich {
  position: fixed;
  left: 0.5em;
  top: 0.5em;
}

#sandwich_symbol div {
  width: 2.5em;
  height: 0.3em;
  background-color: white;
  margin: 0.4em 0;
  border-radius: 0.1em;
}
