<% content_for :head do %>
  <% if @style.filename %>
    <%= stylesheet_link_tag @style.filename %>
  <% else %>
    <style>
      <%= @style.style_text %>
    </style>
  <% end %>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= render partial: @layout.uid %>
